<h1>Updated Contact</h1>
<ul>
  <li><%= @contact.first_name %></li>     
  <li><%= @contact.last_name %></li>
  <li><%= @contact.email %></li>
  <li><%= @contact.phone_number %></li>
</ul>

<a href="/contact_info">Back to all contacts</a>